mscs-enabled=true
mscs-server-url=https://papermc.io/api/v2/projects/paper/versions/{{ minecraft_papermc_version }}/builds/{{ minecraft_papermc_build }}/downloads/paper-{{ minecraft_papermc_version }}-{{ minecraft_papermc_build }}.jar
mscs-server-jar=paper-{{ minecraft_papermc_version }}.jar
mscs-client-version={{ minecraft_papermc_version }}
mscs-server-version={{ minecraft_papermc_version }}
mscs-restart-after-crash=true
